@import url("https://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css")l;

@custom-media --taller-and-thinner   (max-aspect-ratio: 4 / 10);

@custom-media --tall-and-thin        (max-aspect-ratio: 1 / 2);

@custom-media --wider-than-a-square  (min-aspect-ratio: 1 / 1);

@custom-media --wide-and-short       (min-aspect-ratio: 2 / 1);

@custom-media --wider-and-shorter    (min-aspect-ratio: 12 / 3);

@custom-media --even-wider-and-shorter    (min-aspect-ratio: 7 / 1);

:root {
  --darkTextColor: #333333;
  --lightTextColor: #FFFFFF;
  --silverColor: #FFFFFF;
  --silverDarkColor: #EAEAEA;
  --silverDarkerColor: #919191;
  --redColor: #CC0000;
  --redDarkColor: #820000;
  --redDarkerColor: #2C0000;
  --slateColor: #5E6A71;
  --slateDarkColor: #434D55;
  --slateDarkerColor: #0D1012;
  --lineHeight: 1.1em;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Overpass', 'Helvetica', sans-serif;
  overflow: hidden !important;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
  color: var(--darkTextColor);
  background-color: var(--silverColor);
}


.background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.silver-theme {
  color: var(--darkTextColor);
  fill: var(--darkTextColor) !important;
}

.red-theme {
  color: var(--lightTextColor);
  fill: var(--lightTextColor) !important;
  .text-content {
    text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.22);
  }
}

.slate-theme {
  color: var(--lightTextColor);
  fill: var(--lightTextColor) !important;
  .text-content {
    text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.22);
  }
}

h1 {
  text-transform: uppercase;
}

.headline-font-size.border {
  border-bottom: 0.1em solid currentColor;
  margin-bottom: 0.4em
}

h2 {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 300;

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.flex-lockup {
  flex-direction:column;
  position: absolute;
  left: 1.5em;
  right: 1.5em;
  top: 1.5em;
  bottom: 1.5em;
  display: flex;  
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}


.text-content + .flex-lockup {
  flex-direction:column;
}


.redhat-logo, .sko-logo {
  padding: 0.7em;
}

.redhat-logo-svg {
  width: 100%;
}

.sko-logo-svg {
  width: 100%;
}

.sko-logo {
  width: 8em;
}
.redhat-logo {
  width: 8em;
}

.flex-headline-lockup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top:1.5em;
  bottom: 1.5em;
  left: 1.5em;
  right: 1.5em;
  align-items: center;

  .text-content {
    padding-right: 1em;
  }
}

.flex-headline-logos {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  .sko-logo {
    width: 5em;
    padding: 0.5em
  }
  .redhat-logo {
    width: 5em;
    padding: 0.5em
  }

}


@media (--tall-and-thin) {
  html {
    font-size: 9vw !important;
  }

  h1 {
    font-size: 1.7em;
  }

  .redhat-logo, .sko-logo {
    padding: 0.5em;
  }

  .flex-headline-logos {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

  .sko-logo {
    width: 7em;
    padding: 0.5em
  }
  .redhat-logo {
    width: 7em;
    padding: 0.5em
  }

  } 

}

@media (--taller-and-thinner) {
}

@media (--wider-than-a-square) {

  .flex-headline-lockup {
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top:2em;
    bottom: 2em;
    left: 2em;
    right:2em;
    display: flex;
    align-items: center;

    .text-content {
      padding-right: 1em;
    }
  }

  .flex-headline-logos {
    width: auto;
    display: flex;
    flex-direction: column;

    .sko-logo {
      width: 5em;
      padding: 0.5em
    }
    .redhat-logo {
      width: 5em;
      padding: 0.5em
    }

  }

  .flex-lockup {
    flex-direction:row;
  }

  .redhat-logo-svg {
    width: 100%;
  }

  .sko-logo-svg {
    width: 100%;
  }

  .sko-logo {
    width: 15em;
  }
  .redhat-logo {
    width: 10em;
  }

}

@media (--wide-and-short) {
  .flex-lockup {
    position: absolute;
  }

  .flex-headline-logos {
    display: flex;
    flex-direction: column;

    .sko-logo {
      width: 7em;
      padding: 0.5em
    }
    .redhat-logo {
      width: 7em;
      padding: 0.5em
    }

  }

}

@media (--wider-and-shorter) {

  .redhat-logo, .sko-logo {
    padding: 0.7em;
  }

  .sko-logo {
    width: 15em;
  }
  .redhat-logo {
    width: 11em;
  }

  .flex-headline-logos {
    display: flex;
    flex-direction: column;

    .sko-logo {
      width: 10em;
      padding: 0.5em
    }
    .redhat-logo {
      width: 10em;
      padding: 0.5em
    }

  }

  h1 {
    font-size: 2.7em;
  }

  h2 {
    font-size: 1.3em;
  }

  #artwork .artwork-shape, .js-artwork .artwork-shape {
    position: absolute;
    top: 0 !important;
    /*bottom: 0 !important;*/
    /*height: 100% !important;*/
    margin: 0;
    -webkit-transform: translateX(-100%) skewX(-45deg) !important;
    transform: translateX(-100%) skewX(-45deg) !important;
  }

  html {
    font-size: 9vh !important;
  }

  .logo, .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    height: auto;
  }

  .content {
    padding: 3rem;
  }

  .logo {
    padding: 1.5rem;
    width: 12em;
  }
}


@media (--even-wider-and-shorter) {
  .flex-lockup {
    /*justify-content: flex-end;*/
  }
  .sko-logo {
    width: 20em;
  }
  .redhat-logo {
    width: 15em;
  }

  h1 {
    font-size: 3.7em;
  }

  h2 {
    font-size: 2.2em;
  }

  .flex-headline-logos {
    display: flex;
    flex-direction: row;
    align-items: center;

    .sko-logo {
      width: 15em;
      padding: 0.5em
    }
    .redhat-logo {
      width: 15em;
      padding: 0.5em
    }
  }
}

/*artwork*/

#artwork, .js-artwork {
  position: relative;
  overflow: hidden;
  margin: 0; }
#artwork .artwork-inner, .js-artwork .artwork-inner {
  position: relative; }
#artwork .artwork-inner:before, .js-artwork .artwork-inner:before {
  content: '';
  display: block;
  padding-bottom: 100%; }
#artwork *, .js-artwork * {
  margin: 0; }

#artwork .artwork-shape, .js-artwork .artwork-shape {
  position: absolute;
  /*top: 0 !important;*/
  /*bottom: 0 !important;*/
  /*height: 100% !important;*/
  margin: 0;
  -webkit-transform: translateX(-100%) skewX(-45deg) !important;
  transform: translateX(-100%) skewX(-45deg) !important;
}

#artwork, .js-artwork {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

#artwork:after {
   content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(-1)
}

#artwork:before, .js-artwork:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: radial-gradient(#FFFFFF 0%, #919191 96%);
  opacity: 0.4; }

main, #bottom-right-logo {
  z-index: 3; }

.artwork-pattern svg {
  stroke: #9fa9af; }

/* ———————— THEMES ———————— */

#artwork, .js-artwork {
  background-color: var(--silverColor); }
#artwork:before, .js-artwork:before {
  background-color: var(--silverColor); }
#artwork .artwork-shape, .js-artwork .artwork-shape {
  background-color: var(--silverDarkColor); }

  

.silver-artwork#artwork, .silver-artwork.js-artwork {
  background-color: var(--silverColor); }
.silver-artwork#artwork:before, .silver-artwork.js-artwork:before {
  background-image: radial-gradient(var(--silverColor) 0%, var(--silverDarkerColor) 96%); }
.silver-artwork#artwork:after, .silver-artwork.js-artwork:after {
  background-image: url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/corporate/grey-light/positioned-08-04-alt-100.svg); opacity: 0.2;}
.silver-artwork#artwork .artwork-shape, .silver-artwork.js-artwork .artwork-shape {
  background-color: var(--silverDarkColor); }



.red-artwork#artwork, .red-artwork.js-artwork {
  background-color: var(--redColor); }
.red-artwork#artwork:before, .red-artwork.js-artwork:before {
  background-image: radial-gradient(var(--redColor) 0%, var(--redDarkerColor) 96%); }
.red-artwork#artwork:after, .red-artwork.js-artwork:after {
  background-image: url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/corporate/red/positioned-08-04-alt-100.svg); }
.red-artwork#artwork .artwork-shape, .red-artwork.js-artwork .artwork-shape {
  background-color: var(--redDarkColor); }



.slate-artwork#artwork, .slate-artwork.js-artwork {
  background-color: var(--slateColor); }
.slate-artwork#artwork:before, .slate-artwork.js-artwork:before {
  background-image: radial-gradient(var(--slateColor) 0%, var(--slateDarkerColor) 96%); }
.slate-artwork#artwork:after, .slate-artwork.js-artwork:after {
  opacity: 0.2;
  background-image: url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/corporate/grey-light/positioned-08-04-alt-100.svg); }
.slate-artwork#artwork .artwork-shape, .slate-artwork.js-artwork .artwork-shape {
  background-color: var(--slateDarkColor); }



.hide-redhat {
  .redhat-logo {
    display: none;
  }
}

.hide-sko {
  .sko-logo {
    display: none;
  }
}

.hide-both {
  .sko-logo, .redhat-logo {
    display: none;
  }
}
